@page "/"

<div>
    <div style="display: table; margin: 0 auto; text-align: center">
        <h1>Conways Game of Life</h1>

        <div id="gridWrapper" style="grid-template-rows: repeat(@Size, 1em); grid-template-columns: repeat(@Size, 1em);">
            @for (var i = 1; i <= Size; i++)
            {
                for (var j = 1; j <= Size; j++)
                {
                    var x = i-1;
                    var y = j-1;
                    if (_gameBoard.Cells[i-1, j-1])
                    {
                        <div style="grid-column: @i; grid-row: @j; background-color: black" @onclick="e => ToggleState(x, y)"></div>
                    }
                    else
                    {
                        <div style="grid-column: @i; grid-row: @j; background-color: white" @onclick="e => ToggleState(x, y)"></div>
                    }

                }
            }
        </div>
        <div style="display: flex; justify-content: space-evenly">
            <button class="btn btn-primary" style="width: 30%;" @onclick="Update">Update</button>
        </div>
    </div>
        
</div>



@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _gameBoard = GameBoard.Create(Size, new bool[Size,Size]);
    }

    private const int Size = 60;
    private GameBoard _gameBoard;

    public void ToggleState(int x, int y)
    {
        var currentState = _gameBoard.Cells[x, y];
        _gameBoard.Cells[x, y] = !currentState;
    }

    private void Update()
    {
        _gameBoard.Update();
    }
}