@inherits LayoutComponentBase

<div class="page bg-light vh-100">
    <div class="main">
        <div class="top-row px-4 bg-light">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto"></a>
        </div>

        <div class="content px-4 bg-light p-0 pt-1">
            @Body
        </div>
    </div>
</div>
